@using System.Security.Claims
@using IGamer.Common
@using IGamer.Web.ViewModels.Reports;
@model IGamer.Web.ViewModels.Guides.DetailedGuideViewModel
@{
    ViewData["Title"] = "Guide Details";
}

<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>@ViewData["Title"]</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog_area single-post-area section_padding">
    <div class="container">
        <div>
            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || this.User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.UserId)
            {
                <a type="button" asp-area="" asp-action="Delete" asp-controller="Guides" asp-route-id="@Model.Id" class="text-white btn_1 mb-5 mr-5">Delete Guide</a>
            }
            @if (this.User.IsInRole(GlobalConstants.ModeratorRoleName) || this.User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.UserId)
            {
                <a type="button" asp-area="" asp-action="Edit" asp-controller="Guides" asp-route-id="@Model.Id" class="text-white btn_1 mb-5">Edit Guide</a>
            }
        </div>
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    @if (this.TempData["InfoMessage"] != null)
                    {
                        <div class="alert alert-info">
                            @this.TempData["InfoMessage"]
                        </div>
                    }
                    <div class="feature-img">
                        <img class="img-fluid" src="@Model.ImageUrl" alt="guide image">
                    </div>
                    <div class="blog_details border border-dark rounded">
                        <h2>
                            @Model.Title
                        </h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a asp-area="" asp-action="ByCategory" asp-controller="Guides" asp-route-name="@Model.Category"><i class="fa fa-stream"></i>@Model.Category</a></li>
                            <li class="text-light"><i class="fas fa-heart-broken"></i> @Model.ReportsCount Reports.</li>
                        </ul>
                        <div class="single-blog-content text-secondary text-wrp">
                            @Html.Raw(Model.SanitizedContent)
                        </div>
                    </div>
                </div>
                <div class="navigation-top">
                    <div class="d-sm-flex justify-content-between text-center">
                        <div class="like-info text-light">
                            <form id="votesForm" method="post">
                                <span class="align-middle">
                                    <a role="button" onclick="likeGuide('@Model.Id')">
                                        <i class="far fa-heart"></i>
                                    </a>
                                </span>
                                <span id="votesCount">
                                    @Model.VotesCount
                                </span>
                                people like this.
                            </form>
                        </div>
                        <div class="like-info text-light">
                            <form id="reportsForm" method="post">
                                <span class="align-middle">
                                    <a role="button" onclick="showReport()">
                                        <i class="fas fa-heart-broken"></i>
                                    </a>
                                </span>
                                <span id="reportsCount">
                                    @Model.ReportsCount
                                </span>
                                people report this.
                            </form>
                        </div>
                    </div>
                    <div id="report" class="hide">
                        <partial name="_ReportFormPartial" model="@(new AddReportToGuideInputModel() {GuideId = Model.Id})"/>
                    </div>
                </div>
                <div class="blog-author bg-transparent">
                    <div class="media align-items-center">
                        <img src="@Model.UserImageUrl" alt="author">
                        <div class="media-body">
                            <a asp-area="" asp-action="ByUser" asp-controller="Guides" asp-route-username="@Model.UserUserName">
                                <h4>@Model.UserUserName</h4>
                            </a>
                            <p>
                                @Model.Title
                            </p>
                        </div>
                    </div>
                </div>
                <div class="guide-game-img bg-transparent">
                    <div class="align-items-center border-bottom">
                        <img src="@Model.GameImageUrl" alt="author">
                        <div class="media-body">
                            <h4>@Model.GameTitle</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <vc:search-bar></vc:search-bar>
                    <vc:guide-category-list></vc:guide-category-list>
                    <vc:recent-guides></vc:recent-guides>
                </div>
            </div>
        </div>
    </div>
</section>