@model IGamer.Web.ViewModels.Posts.PostsAllViewModel
@{
    this.ViewData["Title"] = "My Posts";
}

<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>@this.ViewData["Title"]</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog_area section_padding">
    <div class="container">
        <div>
            <a type="button" asp-area="" asp-action="Create" asp-controller="Posts" class="swiper-button-black primary text-white btn_1 circle large mb-5">New Post</a>
        </div>
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    @foreach (var post in Model.Posts)
                    {
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="~/img/blog/single_blog_1.png" alt="">
                                <div class="blog_item_date">
                                    <h3>@post.CreatedOn.ToString("dd")</h3>
                                    <p>@post.CreatedOn.ToString("MMM")</p>
                                </div>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" asp-area="" asp-controller="Posts" asp-action="DetailedPost" asp-route-id="@post.Id">
                                    <h2>@post.Title</h2>
                                </a>
                                <p>
                                    @post.ShortDescription
                                </p>
                                <ul class="blog-info-link">
                                    <li class="text-light"><i class="far fa-user"></i> @post.UserUserName</li>
                                    <li class="text-light"><i class="far fa-comments"></i> @post.CommentsCount Comments</li>
                                    <li class="text-light"><a asp-area="" asp-action="ByCategory" asp-controller="Posts" asp-route-name="@post.Category" class="d-flex"><i class="fa fa-stream"></i> @post.Category </a></li>
                                </ul>
                            </div>
                        </article>
                    }

                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            @if (this.Model.CurrentPage == 1)
                            {
                                <li class="page-item disabled">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link"
                                       asp-area=""
                                       asp-controller="Posts"
                                       asp-action="MyPosts"
                                       asp-route-page="@(this.Model.CurrentPage - 1)" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                            }
                            @for (int i = 1; i <= this.Model.PagesCount; i++)
                            {
                                var active = i == this.Model.CurrentPage ? "active" : string.Empty;
                                <li class="page-item @active">
                                    <a class="page-link"
                                       asp-area=""
                                       asp-controller="Posts"
                                       asp-action="MyPosts"
                                       asp-route-page="@i">@i</a>
                                </li>
                            }

                            @if (this.Model.CurrentPage == this.Model.PagesCount)
                            {
                                <li class="page-item disabled">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" aria-label="Next"
                                       asp-area=""
                                       asp-controller="Posts"
                                       asp-action="MyPosts"
                                       asp-route-page="@(this.Model.CurrentPage + 1)">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>


                </div>
            </div>

            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <vc:search-bar></vc:search-bar>
                    <vc:category-list></vc:category-list>
                </div>
            </div>

        </div>
    </div>
</section>
