@using IGamer.Web.ViewModels.Replies
@model IGamer.Web.ViewModels.ViewComponents.CommentSectionViewModel


@foreach (var comment in Model.Comments)
{
    <div class="comment-list border border-dark rounded" id="replyItem@(comment.Id)">
        <div class="single-comment justify-content-between d-flex">
            <div class="user justify-content-between d-flex">
                <div class="thumb">
                    <img src="@comment.UserImageUrl" alt="author" id="authorImage">
                </div>
                <div class="desc">
                    <p class="comment" id="commentContent">
                        @comment.Description
                    </p>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <h5>
                                <a href="#" id="userName">@comment.UserUserName</a>
                            </h5>
                            <p class="date" id="date">@comment.CreatedOn </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reply-btn" align="right">
            <input type="button" onclick="showReply('@comment.Id')" class="button button-contactForm btn_1" value="reply">
            </div>
        </div>
        <div class="hide" id="@comment.Id">
            <partial name="_ReplyFormPartial" model="@(new AddReplyInputModel() {PostId = comment.PostId, CommentId = comment.Id})" />
        </div>
        @foreach (var reply in comment.Replies)
        {
            <div class="single-comment userReply justify-content-between d-flex border border-dark rounded">
                <div class="user justify-content-between d-flex">
                    <div class="thumb">
                        <img src="@reply.UserImageUrl" alt="author">
                    </div>
                    <div class="desc">
                        <p class="comment">
                            @reply.Description
                        </p>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                <h5>
                                    <a href="#">@reply.UserUserName</a>
                                </h5>
                                <p class="date">@reply.CreatedOn </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}